body {
    background-color:#d0efff;
    font-family: 'Courier New', Courier, monospace;  
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: large;
}

button {
    margin: 10px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    background-color: #d0efff;
    border: white solid 1px;
    cursor: pointer;
}

.active {
    background-color:  #1167b1;
    color: white;
}

.random {
    margin: 50px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    border: black solid 2px;
    cursor: pointer;
}

.choose {
    margin: 30px;
}

.cities {
    display: inline;
    font-size: 30px;
    text-decoration: underline;
    margin: 30px;
    cursor: pointer;
}

.location {
    margin: 50px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.weather-container {
    background-color: #1167b1;
    color: white;
    margin-top: 50px;
    width: 600px;
    height: 220px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: black solid 2px;
    border-radius: 20px;
}

.city, .temp {
    display: inline;
    font-size: 40px;
}

.humidity {
    float: left;
    width: 50%;
}

.wind {
    float: right;
    width: 50%;
}

.humidity, .wind {
    font-size: 15px;
    margin: 0;
}

.weather {
    margin: 10px;
    text-transform: capitalize;
}