html {
  margin: auto;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

input {
  border-radius: 5px;
  height: 23px;
  margin-top: 30px;
  margin-left: 50px;
  background-color: #b3e5fc;
}

ul {
  list-style-type: none;
}

li {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 50px;
  text-transform: capitalize;
}

.list {
  border: solid black 3px;
  border-radius: 10px;
  height: 500px;
  width: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.input-area {
  border: solid black 3px;
  border-radius: 10px;
  height: 180px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.output-area {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.add-button, .clear-button {
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  background: green;
  height: 30px;
  width: 60px;
  cursor: pointer;
}

.del-button {
  margin: 10px;
}

.checkbox {
  margin: 10px;
}

.modal-content {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 200px;
  height: 90px;
  top: 30%;
  left: 30%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
  text-align: center;
}

.visible {
  display: block;
}

